        <tbody>
            <tr>
                <th scope="row"> 
                     <%=myCar['event_type'] %>
                    </th>
                <td>
                    <%=myCar['car_type'] %>
                </td>
                <td>
                    <%=myCar['enter_section'] %>
                </td>
                <td>
                    <%=myCar['exit_section'] %>
                </td>
                <td>
                    <%=myCar['day'] %>
                </td>
                <td>
                    <%=myCar['hour'] %>
                </td>
                <td>
                    <%=myCar['is_special'] %>
                </td>
            </tr>
        </tbody>
